<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @possible_date.event_id %>
</p>

<p>
  <b>Date from:</b>
  <%= @possible_date.date_from %>
</p>

<p>
  <b>Date to:</b>
  <%= @possible_date.date_to %>
</p>


<%= link_to 'Edit', edit_possible_date_path(@possible_date) %> |
<%= link_to 'Back', possible_dates_path %>
